# ===================================================================
# plottwist-core requirements file
# ===================================================================
tpDcc-libs-python
tpDcc-core
tpDcc-libs-qt
tpDcc-dccs-maya
artellapipe